<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>OpenlistDevelopment</key><true/>
    <key>UTExportedTypeDeclarations</key>
    <array><dict>
        <key>UTTypeIdentifier</key><string>solimanali.openlist.library-backup</string>
        <key>UTTypeDescription</key><string>Openlist Library Backup</string>
        <key>UTTypeConformsTo</key><array><string>com.apple.package</string></array>
        <key>UTTypeTagSpecification</key><dict>
            <key>public.filename-extension</key><array><string>openlistbackup</string></array>
        </dict>
    </dict><dict>
        <key>UTTypeIdentifier</key><string>app.openlist.block-drag</string>
        <key>UTTypeDescription</key><string>Openlist Row Move</string>
        <key>UTTypeConformsTo</key><array><string>public.data</string></array>
    </dict><dict>
        <key>UTTypeIdentifier</key><string>app.openlist.list-drag</string>
        <key>UTTypeDescription</key><string>Openlist List Move</string>
        <key>UTTypeConformsTo</key><array><string>public.data</string></array>
    </dict></array>
    <key>CFBundleURLTypes</key>
    <array><dict>
        <key>CFBundleTypeRole</key><string>Viewer</string>
        <key>CFBundleURLName</key><string>solimanali.openlist.dev.item</string>
        <key>CFBundleURLSchemes</key><array><string>openlist-dev</string></array>
    </dict></array>
</dict>
</plist>
